#tl_navigation .tl_level_1_group .group-mvo_facebook_integration {
    background: url(../img/icon.svg) no-repeat 4px 1px;
    background-size: 15px 15px;
}

.mvo_facebook_integration_post {
    margin: 15px 5px;
}
